@using MaterialDesign.Icons.Common.Components
@using MaterialDesign.Icons.Components
@using MaterialDesign.Icons
@page "/"

<DynamicHeadContent>
    <link rel="stylesheet" href="css/Home.css">
</DynamicHeadContent>

<PageTitle>Home</PageTitle>

<h2>
    Welcome
    <MdIcon Icon="Refresh" Fill="true" Grade="100" OpticalSize="24" Weight="300" LineStyle="@MdIconLineStyle.Rounded" 
            onclick="location.reload()"/>
</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, ullam.</p>