.SchemeWrapper {
    display: flex;
    gap: 3vh;
    flex-direction: column;
}

.Scheme {
    height: 60vh;
}

.SchemeGrid {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr repeat(6, 4px 15fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.SchemeGrid * {
    padding: 0.8em 0.64em;
}

.SchemeGrid .Core {
    grid-column: 1;
}

.SchemeGrid .OnCore {
    grid-column: 2;
}

.SchemeGrid .Container {
    grid-column: 3;
}

.SchemeGrid .OnContainer {
    grid-column: 4;
}

.SchemeGrid .Outline {
    grid-column: 1 / span 2 ;
}

.SchemeGrid .PrimaryPalette {
    grid-row: 1 / span 3;
}

.SchemeGrid .PrimaryPalette:first-child {
    border-top-left-radius: 1vh;
}

.SchemeGrid .PrimaryPalette:last-child {
    border-top-right-radius: 1vh;
}

.SchemeGrid .SecondaryPalette {
    grid-row: 5;
}

.SchemeGrid .TertiaryPalette {
    grid-row: 7;
}

.SchemeGrid .ErrorPalette {
    grid-row: 9;
}

.SchemeGrid .NeutralPalette {
    grid-row: 11;
}

.SchemeGrid .NeutralVariantPalette {
    grid-row: 13;
}

.SchemeGrid .Outline {
    border-bottom-left-radius: 1vh;
}

.SchemeGrid .NeutralVariantPalette:last-child {
    border-bottom-right-radius: 1vh;
}