@inject ThemeContainer ThemeContainer
@page "/Settings"
@using ExampleSite.DefaultThemes
@using MaterialDesign.Color.Schemes.Custom
<h1>Your Settings Overview</h1>
<h3 style="font-weight: normal">Current Theme: @ThemeName</h3>
Theme Colors:


@code {
    private IScheme Scheme => ThemeContainer.Scheme;

    private string ThemeName => Scheme switch
    {
        DefaultThemeBase defaultTheme => defaultTheme.ThemeName,
        ModifiableCustomScheme => "Custom (Advanced)",
        _ => "Custom",
    };
}