#ColorSelector {
    width: 22vw;
    height: 13em;
    display: grid;
    font-size: 24px;
    grid-template-areas: "HueDisplay    HueDisplay"
                         "HueSlider     HueSlider"
                         "ChromaDisplay ChromaDisplay"
                         "ChromaSlider  ChromaSlider"
                         "ToneDisplay   ToneDisplay"
                         "ToneSlider    ToneSlider";
    grid-row-gap: 0.5em;
    border-radius: 1em;
    z-index: 100;
}

#DarkLightSwitch {
    position: absolute;
    right: 1vw;
    top: 1vw;
    width: 3vw;
    height: 3vw;
    font-size: 3vw;
    border-radius: 0.5vw;
}

.DisplayWindow {
    height: 1em;
    border-radius: 0.5em;
}

.mud-slider-container,
.mud-slider-container input {
    height: 1.5rem;
}

.mud-slider-container input::-moz-range-track
{
    background-color: var(--md-sys-color-primary) !important;
    opacity: 0.3;
}

.mud-slider-container input::-ms-track
{
    background-color: var(--md-sys-color-primary) !important;
    opacity: 0.3;
}

.mud-slider-container input::-webkit-slider-runnable-track
{
    background-color: var(--md-sys-color-primary) !important;
}

.mud-slider-container input::-moz-range-thumb
{
    background-color: var(--md-sys-color-primary) !important;
}

.mud-slider-container input::-ms-thumb
{
    background-color: var(--md-sys-color-primary) !important;
}

.mud-slider-container input::-webkit-slider-thumb
{
    background-color: var(--md-sys-color-primary) !important;
}

.HueSlider {
    grid-column: HueSlider;
    grid-row: HueSlider;
}

.DisplayWindowHue {
    grid-column: HueDisplay;
    grid-row: HueDisplay;
}

.ChromaSlider {
    grid-column: ChromaSlider;
    grid-row: ChromaSlider;
}

.DisplayWindowChroma {
    grid-column: ChromaDisplay;
    grid-row: ChromaDisplay;
}

.ToneSlider {
    grid-column: ToneSlider;
    grid-row: ToneSlider;
}

.DisplayWindowTone {
    grid-column: ToneDisplay;
    grid-row: ToneDisplay;
}

body, main {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#Settings {
    position: absolute;
    left: 0;
    width: 30vw;
    height: 100vh;
    border-right: 1px var(--md-sys-color-on-background) solid;
    padding: 1vw 0.5vw 1vw 1vh;
    overflow: auto;
}

#Content {
    position: absolute;
    right: 0;
    width: 70vw;
    height: 100vh;
    border-left: 1px var(--md-sys-color-on-background) solid;
    padding: 1vw 1vw 1vw 0.5vw;
    overflow: auto;
}

#Example {
    position: relative;
    font-size: 24px;
    margin-top: 10vh;
    width: 100%;
    border-radius: 3vw;
    padding: 3vw;
}

#Example span {
    width: 30%;
    float: right;
    border-radius: 1vw;
    padding: 1vw;
    margin: 0 0 1.5vw 1.5vw;
}

#Example div {
    margin-top: 3vh;
    margin-left: 5%;
    width: 90%;
    border-radius: 2vw;
    padding: 2vw;
    clear: both;
}

.SettingPopover * {
    background: var(--md-sys-color-secondary);
    color: var(--md-sys-color-on-secondary);
}

.SettingPopover .mud-selected-item,
.SettingPopover .mud-selected-item *
{
    background: var(--md-sys-color-secondary-container) !important;
    color: var(--md-sys-color-on-secondary-container) !important;
}

.SettingSelector * {
    color: var(--md-sys-color-on-background) !important;
}