#GridLayout {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas: "top top"
                         "left main"
                         "left bottom";
    grid-template-columns: 10vw 90vw;
    grid-template-rows: 10vh 1fr 10vh;
}

#Top {
    grid-area: top;
}

#Left {
    grid-area: left;
}

main {
    grid-area: main;
    border-radius: 2vw 0 0 0;
    padding: 1.5vw;
    font-size: 1rem;
}

#Bottom {
    grid-area: bottom;
}