#PlayingAlbumCover {
    position: absolute;
    width: 9.5vw; 
    height: 9.5vw; 
    left: 0.25vw;
    bottom: 0.25vw;
    border-radius: 0.5vw;
}

#ThemeSwitch {
    position: absolute;
    width: 60px;
    height: 60px;
    font-size: 60px;
    top: 5px;
    right: 5px;
    user-select: none;
    cursor: pointer;
}