#PlayingAlbumCover {
    position: absolute;
    width: 9.5vw; 
    height: 9.5vw; 
    left: 0.25vw;
    bottom: 0.25vw;
    border-radius: 0.5vw;
}

.ThemeMenu {
    position: absolute;
    width: 6vh;
    height: 6vh;
    font-size: 6vh !important;
    top: 1vh;
    right: 1vh;
    user-select: none;
    cursor: pointer;
}

.FontMenu {
    position: absolute;
    width: 6vh;
    height: 6vh;
    font-size: 6vh !important;
    top: 1vh;
    right: 7vh;
    user-select: none;
    cursor: pointer;
}

main {
    position: relative;
}

.SongListViewToggle {
    position: absolute;
    font-size: 5vh !important;
    top: 0;
    right: 0;
    width: 5vh;
    height: 5vh;
    z-index: 5;
    user-select: none;
    cursor: pointer;
}