@using ExampleSite.Components.Settings.Components.Preview
@page "/Settings"

<DynamicHeadContent>
    <link rel="stylesheet" href="css/Settings.css">
</DynamicHeadContent>

<h1>Your Settings Overview</h1>
<SchemePreview/>

