<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">MaterialDesignShowcase</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggle"/>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggle').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Palettes">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Palettes
            </NavLink>
        </div>
        
        <div class="nav-item px3">
            <NavLink class="nav-link" href="ImagePalettes">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Image Palettes
            </NavLink>
        </div>
        
        <div class="nav-item px3">
            <NavLink class="nav-link" href="ThemeDisplay">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Theme Display
            </NavLink>
        </div>
    </nav>
</div>