.mud-main-content, main {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    width: auto;
}

@media (min-width: 0px) and (orientation: landscape) {
    .mud-main-content, main {
        height: calc(100vh - var(--mud-appbar-height) - var(--mud-appbar-height) / 4);
    }
}
@media (min-width: 600px) {
    .mud-main-content, main {
        height: calc(100vh - var(--mud-appbar-height));
    }
}

main {
    padding: 2vh 2vw;
}

#Drawer *:not(.mud-divider) {
    padding: 0 1px;
}

.mud-drawer-content {
    gap: 10px;
}

.mud-toolbar {
    gap: 24px;
}

.SchemeTooltip {
    color: var(--md-sys-color-tertiary-text) !important;
    background-color: var(--md-sys-color-on-tertiary) !important;
    box-shadow: var(--mud-elevation-8);
}