main {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

form {
    width: 480px;
    height: 300px;
    display: grid;
    grid-column-gap: 10px;
    grid-template-areas: "Avatar Username Username"
                         "Avatar Email Email"
                         "Avatar PhoneNumber PhoneNumber"
                         "Avatar Password ConfirmPassword";
    grid-template-columns: 240px 120px 120px;
    grid-template-rows: 75px 75px 75px 75px;
}

#Avatar {
    width: 240px;
    height: 300px;
    grid-area: Avatar;
}

#Avatar img {
    border-radius: 120px;
}

.Username {
    grid-area: Username;
}

.Email {
    grid-area: Email;
}

.Phone {
    grid-area: PhoneNumber;
}

.Password {
    grid-area: Password;
}

.ConfirmPassword {
    grid-area: ConfirmPassword;
}

.Input, .Input input {
    width: 100% !important;
    color: var(--md-sys-color-secondary) !important;
}