@using MaterialDesign.Icons.Common.Components
@inherits LayoutComponentBase

<DynamicHeadContent>
    <link rel="stylesheet" href="css/AppLayout.css">
</DynamicHeadContent>

<div id="GridLayout">
    <div id="Top"></div>
    <div id="Left"></div>
    <main></main>
    <div id="Bottom"></div>
</div>

@code {
    
}